.lists{ padding: 15px 25px 30px; height: 600px;; list-style-type: none; overflow-y: scroll; border-bottom: 15px solid #42b883; box-sizing: border-box;}
.lists li{position: relative; padding: 5px 0 5px 13px; }
.lists li:before{ content: ''; position: absolute; top: 10px; left: 0; width: 5px; height: 5px; background-color: #42b883; }